!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.yarn/releases
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env.production
.vercel/
.vscode/*
.yarn/
dist
dist-ssr
lerna-debug.log*
lerna-debug.log*
logs
logs/
node_modules
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
