{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@pssa/(.*)$", "^~/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "singleQuote": true,
  "semi": true,
  "printWidth": 100
}